body{
    background-image: url(https://www.getreadyhk.com/images/stories/lifestyle/tai-tung-shan/tai_tung_shan_14.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;


}

h1{
    font-size:100px;
    text-align: center;
    font-family:"Brush Script MT", cursive;
    padding: 20px;
}

h2{
    font-size:80px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    color: #F160D3;
}


.login-page{
    width: 360px;
    padding: 5% 0 0;
    margin: auto
}

.form{
    position: relative;
    z-index: 1;
    background: #ffffff;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;    
    
}

.form input{
    font-family: "Roboto" ,sans-serif;
    outline: 1;
    background:  #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.form lable{
    font-family: "Roboto" ,sans-serif;
    outline: 1;
    width: 100%;
    margin: 5px;
    padding: 10 20 0 5px;
    box-sizing: border-box;
    font-size: 30px;  
    
}

.form button{
    font-family: "Roboto" ,sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;    
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
}

.form button:hover,.form button:active{
    background: #4dd2ff;
    
}

.form .message{
    margin: 15px 0 0;
    color:fuchsia;
    font-size:12px;
    
}

#logincreate{display:active}
#forget{display:none} 
#change{display:none}
#logincreate.active{display:none}
#forget.active{display:active}
#x.active{display:active}

.form .message a{
    color:firebrick;
    text-decoration: none;
    font-size:14px;
    
}

.form .register-form{
    display:none;
}


.form .chpwinfo-form{
    display:none;
}


